<div>

  <h1 class="page-header">Usúarios do sistema </h1>

  <div class="col-md-12 ui-sortable">
    <div class="panel panel-inverse" data-sortable-id="ui-buttons-1" -="">
      <div class="panel-heading">
        <div class="panel-heading-btn">
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
        </div>
        <h4 class="panel-title">Ações</h4>
      </div>
      <div class="panel-body">
        <button type="button" class="btn btn-success m-r-5 m-b-5">Novo usuário</button>
        <button type="button" class="btn btn-info m-r-5 m-b-5">Atualizar</button>
      </div>
    </div>
  </div>
  <div class="col-md-12 ui-sortable">
    <div class="panel panel-inverse" data-sortable-id="table-basic-2">
      <div class="panel-heading">
        <div class="panel-heading-btn">
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
        </div>
        <h4 class="panel-title">Usuários cadastrados</h4>
      </div>
      <div class="panel-body">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Criado em</th>
            <th>Última vez logado</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="user in listUsers" >
            <td>{{user.id}}</td>
            <td>{{user.nome}}</td>
            <td>{{user.email}}</td>
            <td>{{user.created_at}}</td>
            <td>{{user.updated_at}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>