
<section class="content-header">
	<h1>Novo tipo de periodo</h1>
	<ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><%= link_to tipo_periodos_path do %><i class="fa fa-users"></i> Tipos de Periodos<% end %></li>
        <li class="active fa fa-user">Novo</li>
    </ol>  
</section>
<section class="content">
	<div class="row">
		<div class="col-md-6">
			<%= render 'form' %>
		</div>
	</div>
</section>
